# fly.toml app configuration file generated for gtd-api on 2026-02-04T14:22:11Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'gtd-api'
primary_region = 'ord'

[build]

[env]
  DATABASE_URL = 'sqlite:////data/gtd.db'

[[mounts]]
  source = 'gtd_data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
